@import '../tokens/spacing.scss';

.header {
  &-content {
    display: grid;
    grid-template-columns: 6.625rem minmax(26.25rem, 1fr) 2fr;
    align-items: center;
    justify-content: space-between;
    gap: $space2;
    block-size: 7rem;
    inline-size: 100%;
    padding-inline-start: $space3;
    padding-inline-end:   $space3;
  }

  &-logo {
    inline-size: 6.625rem;
    block-size: 4rem;
  }
}