//   ██████╗ ██████╗ ██╗      ██████╗ ██████╗
//  ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
//  ██║     ██║   ██║██║     ██║   ██║██████╔╝
//  ██║     ██║   ██║██║     ██║   ██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
//   ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
//

$primary: #FED941;
$grey: #A7A9BE;
$white: #FFFFFE;
$black: #000000;
$background: #0F0E17;