//  ███████╗██████╗  █████╗  ██████╗██╗███╗   ██╗ ██████╗
//  ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗  ██║██╔════╝
//  ███████╗██████╔╝███████║██║     ██║██╔██╗ ██║██║  ███╗
//  ╚════██║██╔═══╝ ██╔══██║██║     ██║██║╚██╗██║██║   ██║
//  ███████║██║     ██║  ██║╚██████╗██║██║ ╚████║╚██████╔╝
//  ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝╚═╝  ╚═══╝ ╚═════╝
//

// Units

$spaceHalf: .25rem;
$space: .5rem;
$space2: 1rem;
$space3: 1.5rem;
$space4: 2rem;
$space5: 2.5rem;
$space6: 3rem;
$space7: 3.5rem;