
//  ████████╗██╗   ██╗██████╗  ██████╗
//  ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
//     ██║    ╚████╔╝ ██████╔╝██║   ██║
//     ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
//     ██║      ██║   ██║     ╚██████╔╝
//     ╚═╝      ╚═╝   ╚═╝      ╚═════╝
//

// Typo Bolds

$regular: 400;
$bold: 700;
$black: 800;

$baseFontFamily: 'Montserrat', system-ui, sans-serif;
$headline1: $black 2.875rem/3.5rem $baseFontFamily;
$headline2: $bold 3rem/3.625rem $baseFontFamily;
$headline3: $bold 1.75rem/normal $baseFontFamily;
$headline4: $bold 1.75rem/normal $baseFontFamily;
$headline5: $bold 1.562rem/normal $baseFontFamily;
$bodyBold1: $bold 1.125rem/1.687rem $baseFontFamily;
$bodyRegular1: $regular 1.125rem/1.687rem $baseFontFamily;
$bodyBold2: $bold 1rem/1.187rem $baseFontFamily;
$bodyRegular2: $regular 1rem/1.375rem $baseFontFamily;
$button: $bold 1.125rem/1.75rem $baseFontFamily;
$caption: $regular 0.75rem/1.375rem $baseFontFamily;