@import './foundations/colors.scss';
@import './foundations/fonts.scss';
@import './icons.scss';
@import './vendors/normalize.scss';
@import './vendors/slick.scss';
@import './vendors/slick-theme.scss';
@import './components/header.scss';
@import './components/text-link.scss';
@import './components/navigation.scss';
@import './components/search.scss';

.wrapper {
  inline-size: 100%;
  max-inline-size: 75rem;
  margin: 0 auto;
}